/* article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

article div h2{
    font-weight: bold;
    
} */

/* 반응형 웹 - 미디어 쿼리 */
/* @media screen and (max-width:800px) {
    article div{
        width: 95%;
    }
}

@media screen and (min-width:801px) and (max-width:1200px) {
    article div{
        width: 780px;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

article {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

#intro, #skill, #portfolio, #contact {
    margin-bottom: 40px;
}

/* 반응형 웹 - 미디어 쿼리 */
@media screen and (max-width:600px) {
    body {
        padding: 10px;
    }

    article {
        margin: 10px auto;
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width:800px) {
    nav {
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        flex-direction: column;
        width: 100%;
        position: absolute;
        visibility: hidden;
    }
    .nav_item a {
        margin-right: 18px;
        text-align: center;
    }
    .nav_item a:hover {
        color: black;
        background-color: white;
    }
    #title {
        font-size: 24px;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    /* 태블릿 사이즈에 맞는 스타일링 */
}

@media screen and (min-width:801px) and (max-width:1200px) {
    /* 중간 사이즈 디바이스를 위한 스타일 */
}