*{padding: 0px; margin: 0px;}
ul{list-style: none;}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 인트로 배경화면이미지 */
#img_back{
    opacity: 0.4;
    width: 100%;
}

/* 타이틀 글씨 */
#title{
    position: absolute;
    font-weight: bold;
    font-size: 48px;
}

/* 왼쪽 사이드 */
aside{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
    background-color: rgb(0, 17, 39);
    top:0;
    left:0;
}

.nav_item, .nav_item a{
    display: block;
    color: rgb(185, 185, 185);
    text-decoration: none;
    padding: 10px;
}

.nav_item a:hover{
    color: white;
    transform: scale(1.2, 1.2);
    transition: background-color 0.2s, transform 0.2s;
}

/* 메인영역 */
article{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

article div{
    margin: 20px;
    padding: 10px;
}

article div h1{
    font-weight: bold;
}

footer{
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

#intro{
    background-color: rgb(217, 177, 255);
}

#skill{
    background-color: rgb(135, 181, 241);
}

#portfolio{
    background-color: rgb(116, 240, 158);
}

#contact{
    background-color: rgb(245, 230, 164);
}


/* 사이드바 */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 999;
    background: #333;
    color: rgb(71, 66, 66);
    transition: all 0.3s;
}
#sidebar.active {
    left: 0;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(99, 98, 98, 0.7);
    z-index: 998;
    display: none;
}



/* 반응형 웹 - 미디어 쿼리 */
@media screen and (max-width:800px) {
    article, aside, nav{
        flex-direction: column;
        width: 100%;
    }

    aside{
        position: inherit;
    }

    .nav_item:hover{
        color: black;
        background-color: white;
        transform: scale(1.1, 1.1);
        transition: background-color 0.2s, transform 0.2s;
    }
    #title{
        font-size: 24px;
    }
}

@media screen and (min-width:801px) and (max-width:1400px) {
    aside{
        flex-direction: column;
        width: 100%;
        position: absolute;
        visibility: hidden;
    }
    .nav_item:hover{
        color: black;
        background-color: white;
        transform: scale(1.1, 1.1);
        transition: background-color 0.2s, transform 0.2s;
    }
}