*{padding: 0px; margin: 0px;}
ul{list-style: none;}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#img_back{
    opacity: 0.8;
    width: 100%;
}

#title{
    position: absolute;
    font-weight: bold;
    font-size: 48px;
}

aside{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100%;
    background-color: rgb(0, 17, 39);
    top:0;
    left:0;
}

nav { 
    width:100%;
    height:50px; 
    background: rgb(1, 28, 65);
    color:white; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
}

.nav_item{
    color: rgb(209, 208, 208);
    padding: 30px;
    text-align: center;
    text-decoration: none;
    
}
.nav_item:hover{
    color: white;
}

article{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

article div{
    margin: 20px;
    padding: 10px;
}

article div h1{
    font-weight: bold;
}

footer{
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

#intro{
    background-color: rgb(217, 177, 255);
}

#skill{
    background-color: rgb(135, 181, 241);
}

#portfolio{
    background-color: rgb(116, 240, 158);
}

#contact{
    background-color: rgb(245, 230, 164);
}

/* 반응형 웹 - 미디어 쿼리 */
@media screen and (max-width:1000px) {
    article, aside, nav{
        flex-direction: column;
        width: 100%;
    }

    aside{
        position: inherit;
    }

    .nav_item:hover{
        color: black;
        background-color: white;
    }
    #title{
        font-size: 24px;
    }
}