:root {
  --timeline-icon-size: 160px;
}

/* Timeline container */
.timeline-container {
  position: relative;
}

/* .timeline-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--timeline-icon-size) / 2);
  width: 1.5px;
  background-color: #b3b3b3;
} */

/* Timeline item */
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* Timeline icon */
.timeline-icon {
  width: var(--timeline-icon-size);
  height: var(--timeline-icon-size);
  border-radius: 50%;
  border: 1.5px solid #c7c7c7;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 40px;
  flex-shrink: 0;
}

/* Timeline content */
.timeline-content {
  flex: 1;
}

.timeline-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: #000;
  text-align: left;
}

/* .timeline-section {
  margin-bottom: 15px;
} */

.timeline-section h3 {
  margin: 0 0 5px;
  font-size: 18px;
  /* border-bottom: 1px solid #c7c7c7; */
  padding-bottom: 3px;
  margin-top: 20px;
  text-align: left;
  color: #333;
  font-weight: bold;
}

.timeline-section p {
  text-align: left;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.timeline-section p:not(:last-child) {
  margin-bottom: 12px;
}

.timeline-section :link,
.timeline-section :visited {
  color: rgb(0, 75, 236);           /* 링크 색상 */
  text-decoration: underline; /* 밑줄 */
  cursor: pointer;       /* 마우스를 올렸을 때 손가락 모양 */
}

.timeline-section ul li {
  text-align: left;
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .timeline-container::before {
    display: none;
  }
  
  .timeline-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .timeline-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {

  .timeline-content h2 {
    font-size: 1.3em;
  }
  
  .timeline-section h3 {
    font-size: 1.1em;
  }
}