.dialog {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 10003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* 다이얼로그를 보여줄 때 사용하는 클래스 */
  .dialog.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* 닫기 버튼 스타일 */
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  